{% extends 'base.html' %}




{% block content %}


    <div class="row">


        <div class="col-sm-6">
            <h1 class="">{{ course.title }}</h1>
        <div class="card border-primary mb-4">
            <div class="card-body text-primary">
                <p class="card-text">  {{ course.description }}</p>


                <p>The Steps Are:</p>
                {% for step in steps %}


                <h5 class="card-title"> <a href="{% url 'text-detail' step.pk %}">{{ step.title }}</a></h5>

                {% endfor %}
            </div>
        </div>
    </div>






    </div>



{% endblock %}