{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ form.instance.prompt|default:"New question" }} | {{ quiz.course.title }} {{ block.super }}{% endblock %}









{% block content %}

    <div class="row">


<h1>{{ form.instance.prompt|default:"Make a new question" }}</h1>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}

     <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    </div>



{% endblock %}